@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
	--background: #ddd;
	--background-black: #000;
	--color: #000;
	--white: #fff;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Roboto", sans-serif;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: var(--background);
}
.header-nav {
	color: var(--white);
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	padding: 15px;
	background-color: var(--background-black);
}
.pleyer {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 0px 0px 8px 8px;
	width: 375px;
	height: 667px;
	background: var(--background);
	box-shadow: 8px 8px 16px 0px rgba(0, 0, 0, 0.25),
		-8px -8px 16px 0px rgba(201, 201, 201, 0.25);
}

.pley-card::after {
	content: "";
	position: absolute;
	width: 156px;
	height: 156px;
	z-index: -1;
	background: #e1e1e1;
	box-shadow: -8px -8px 16px rgba(255, 255, 255, 0.25),
		8px 8px 16px rgba(97, 97, 97, 0.25);
	border-radius: 35px;
}
.pley-card {
	z-index: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 60px;
}

.play-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin-top: 60px;
}
.play-content p {
	color: #404040;
	margin-top: 20px;
	font-size: 14px;
}
.play-content h3 {
	font-size: 28px;
}

.play-input {
	position: relative;
	width: 60%;
	height: calc(7.5px * 2);
	background: rgba(225, 225, 225, 1);
	box-shadow: inset 8px 8px 16px 0px rgba(0, 0, 0, 0.25),
		inset -8px -8px 16px 0px rgba(201, 201, 201, 0.25);
	margin-top: 80px;
}

.play-input::before {
	position: absolute;
	content: "";
	width: 50%;
	height: calc(7.5px * 2);
	background: #000;
}

.play-input::after {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	content: "";
	width: calc(7.5px * 3);
	height: calc(7.5px * 3);
	box-shadow: 8px 8px 16px 0px rgba(0, 0, 0, 0.25),
		-8px -8px 16px 0px rgba(201, 201, 201, 0.25);
	border-radius: 50%;
	background: #000;
}

.play-duration {
	margin-top: -40px;
	display: flex;
	justify-content: space-between;
	width: 60%;
	font-size: 12px;
	font-weight: 600;
	color: #000;
}

.play-ctrl {
	display: flex;
	width: 60%;
	justify-content: space-between;
	align-items: center;
	margin-top: 100px;
	margin-left: 20px;
}
.player__btn--medium {
	width: 45px;
	height: 45px;
}

.player__btn {
	cursor: pointer;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 20px;
	box-shadow: 4px 4px 8px 0px rgba(101, 101, 101, 0.25),
		-8px -8px 16px 0px rgba(255, 255, 255, 0.25);
}
